<div class="header text-xl flex justify-between w-screen sticky bg-slate-800 text-white py-5">
    <p class="px-4 font-mono border-2 rounded-3xl"> Expense Tabs</p>
    <p class=" mr-4 md:mr-8 font-mono border-2 px-3 bg-red-600 rounded-sm cursor-pointer" (click)="logout()">Log out</p>
</div>
<div class="body text-3xl font-mono flex items-center flex-col space-y-4 mt-6">
    <p>Welcome, {{ displayName}}</p>
</div>
<div class=" cont flex flex-col mt-7 min-w-full bg-slate-300 space-y-5 py-5">
    <div class="flex justify-evenly">
        <p class="border-b-2 border-black font-bold font-mono pl-4">Expenses</p>
        <select name="currency" id="curr" class="rounded-lg" (change)="currencyChange()">
            <option value="" class="text-sm">Select Currency</option>
            <option value="rupee" class="text-sm">Rupees</option>
            <option value="rial" class="text-sm">Rials</option>
            <option value="dollars" class="text-sm">Dollars</option>
            <option value="euros" class="text-sm">Euros</option>
        </select>
    </div>
  
    <div *ngIf="sett; else that"
        class="flex flex-col space-y-3 justify-center md:flex-row md:flex-wrap md:space-x-3 ">
        <div *ngFor="let item of sett" 
            class="cards border-2 bg-white shadow-xl flex flex-col space-y-1 px-4 w-[390px] rounded-xl mx-2 py-3">
            <div class="head text-sm text-slate-600 font-bold">{{ item.date }}</div>
            <div class="content text-lg ">
                <ul>
                    <li *ngFor="let sub of item.values">{{ sub.reason }}, {{ sub.amount }}</li>
                </ul>
            </div>
        </div>
    </div>
    <ng-template #that>
        <h2 class=" text-black text-3xl">Loading...</h2>
    </ng-template>
   
</div>
<div class="flex flex-col justify-center items-center my-6 space-y-3">
    <button 
    class="rounded-xl px-6 py-3 text-white" [ngClass]=" add ? 'bg-red-600' : 'bg-green-700'"
    (click)="add = !add"> {{ add ? 'Cancel' : 'Add Expense'}}</button>
    <p class="text-sm text-slate-500">Click to {{ add ? 'Cancel' : 'Add Expense'}}</p>
</div>
<div class="flex flex-col md:items-center" *ngIf="add">

    <div class="form flex flex-col space-y-6 mx-4 rounded-xl bg-slate-700 py-5 items-center md:w-[800px]">
        <div class="flex flex-col text-white font-mono md:flex-row" >
            <label for="expense text-xl ">Expense spent on </label>
            <input type="text" [(ngModel)] = "reason"
            class="w-[350px] md:ml-12 border py-2 rounded-lg text-black " placeholder="Enter reason for expense">
        </div>
        <div class="flex flex-col text-white font-mono md:flex-row">
            <label for="expense text-xl">Expense Amount</label>
            <input type="number" [(ngModel)] = "amount"
            class="w-[350px] md:ml-16 border py-2 rounded-lg  text-black" placeholder="Enter amount spent">
        </div>
        <div class="flex flex-col font-mono md:flex-row ">
            <label for="expense text-xl"><p class="text-white">Date of Expense</p></label>
            <input type="date" [(ngModel)] = "date"
            class="w-[350px] md:ml-14 border py-2 rounded-lg  text-black">
        </div>
        <div class="flex items-end mt-5">
            <button class="px-4 py-2 bg-lime-700 text-white" (click)="addExp()">Add expense</button>
        </div>
    </div>
</div>